<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Postgresql-nodejs</title>
	<script src="../../jquery.js"></script>
	<script src="../../bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="">
</head>
<body>
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<form action="/student/update" method="POST" enctype="application/x-www-form-urlencoded">
		  	<div class="form-group">
			    <label for="name">Name:</label>
			    <input type="text" class="form-control" id="name" name="txtName" value="<%= sinhvien.hoten %>">
		  	</div>
		  	<div class="form-group">
			    <label for="email">Email:</label>
			    <input type="email" class="form-control" id="email" name="txtEmail" value="<%= sinhvien.email %>">
		  	</div>
		  	<input type="hidden" name="txtId" value="<%= sinhvien.id %>">
		  	<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
	<div class="col-sm-4"></div>
</body>
<script>
	$(document).ready(function(){
		
	});
</script>
</html>